#folders 
/build
/out/build/x64-debug
/.vs
/Backtester.rar
/CMakePresets.json
/vcpkg_installed
/cmake.txt

# extensions
*.o
*.obj
*.pdb
*.exe
*.dll
*.lib
*.so
*.a
*.out

# individual files / misc. 
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json



/include/Modules/Logger.hpp
/include/Modules/pch.hpp
/junk/vcpkg_installed
/scripts/ohlcv_eda.py
