#folders 
/build
/out/build/x64-debug
/.vs
/Backtester.rar
/vcpkg_installed
/cmake.txt

# extensions
*.o
*.obj
*.pdb
*.exe
*.dll
*.lib
*.so
*.a
*.out

# individual files / misc. 
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps



/include/Modules/Logger.hpp
/include/Modules/pch.hpp
/junk/vcpkg_installed
/scripts/ohlcv_eda.py
/scripts/__pycache__
/scripts/eda/__pycache__
/scripts/.vs/scripts/CopilotIndices/17.13.431.34963
/scripts/.vs/scripts/FileContentIndex
*.suo
/scripts/ohlcv_eda - GOOD.py
/scripts/ohlcv_eda.py
*.pyproj
*.user
/out/build/vs2022-x64-clang
